* {
  margin: 0 auto;
  padding: 0;
}

@font-face {
  font-family: "montserratregular";
  src: url("/fonts/montserrat-regular-webfont.woff2") format("woff2"),
    url("/fonts/montserrat-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "montserratsemibold";
  src: url("/fonts/montserrat-semibold-webfont.woff2") format("woff2"),
    url("/fonts/montserrat-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: rgb(20, 40, 130);
}

.index {
  width: 48%;
  border-radius: 5px;
  margin: 0%;
  float: left;
}

a {
  color: rgb(20, 40, 130);
  font-family: "montserratregular";
  font-size: 25px;
}

.navbar {
  height: max-content;
  margin: auto;
  display: flex;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
  background: white;
}

.footbar {
  width: 100%;
  height: 14vh;
  position: fixed;
  left: 0;
  bottom: 0;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
  background: rgb(70, 100, 200);
}

nav {
  flex: 1;
  padding-left: 60px;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 0px 20px;
}

.content h1 {
  font-family: "montserratsemibold";
  font-size: 65px;
  color: white;
}

.content h2 {
  font-family: "montserratregular";
  font-size: 35px;
  color: white;
}

.content p {
  font-family: "montserratregular";
  font-size: 23px;
  color: white;
}

.content {
  margin-left: 50%;
  margin-top: 10%;
}
